.snap {
  display: flex;
  
  
  
}
.green1 {
  color: #5dc7c2;
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 40px;
  display: block;
}

.black1 {
  color: gray;
  font-family: oswald, sans-serif;
  text-align: center !important;
  font-size: 20px;
  display: block;
}
.slot1 {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  
}
.white1 {
    color: #fff;
    font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 60px;
}
@media only screen and (max-width: 1000px) {

  .time{
    
    width: 100%;
  }
 .slot1{
   width:100;
   
   margin-left: 13px;
   margin-right: 13px;
   margin-bottom: 20px;
   margin-top: 20px;
   
   
   
 }
 .green1,.black1{
   font-size: 20px;
 }
 .white1{
   font-size: 28px;
 }
 
 
  
}
